<%- include('../includes/top.ejs') %>
</head>
<body>
    
    <%- include('../includes/navigation.ejs') %>
    <main>
    <h1>Products</h1>
    
    <div class="products-container">
        <% for(product of prods){ %>
        <div class="product">
            <h1><%= product.title %></h1>
            <img alt=<%= product.title%> src=<%=product.imageUrl%> />
            <h3><%= product.price %></h3>
            <a href="/admin/edit-product/<%=product._id%>?edit=true" class="btn"> Edit</a>
            <form action="/admin/delete-product" method="POST">
                <input type="text" hidden value=<%=product._id%> />
                <button class="btn" type="submit">Delete</button>
            </form>
        </div>
        <% } %>
     </div>
    </main>
   <%- include('../includes/bottom.ejs') %>